:root {
    --mainWhite: #f3f3f3;
    --mainGreen:  rgb(116, 236, 17);
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainWhite);
}
.grid {
    background-image: url('../images/lerone-pieters-Q6Pci2AxbK8-unsplash.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.container {
    max-width: 800px;
    height: 500px;
    border: 0.5rem solid var(--mainGreen);
    border-radius: 0.5rem;
    position: relative;
    padding: 0;
}
.btn-left {
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--mainGreen);
    transform: translate(-50%, -50%);
    border: 0.2rem solid var(--mainGreen);
    font-size: 1.2rem;
}
.btn-right {
    position: absolute;
    top: 50%;
    right: -6%;
    background: var(--mainGreen);
    transform: translate(-50%, -50%);
    border: 0.2rem solid var(--mainGreen);
    font-size: 1.2rem;
}
.arrow {
    border: solid var(--mainWhite);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.credit {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: var(--mainWhite);
}