@import "../vars/vars.scss";
@import "../theme-switch/theme-switch.scss";
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

/*
=============== 
Navbar
===============
*/
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

h1 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-family: var(--ff-primary);
}

.title {
	text-align: center;
	font-size: 1.5rem !important;
	color: #31c9c9;
	margin: 0;
	font-weight: 500;
}

nav {
	z-index: 99;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: var(--clr-white);
	box-shadow: var(--light-shadow);
}

nav.dark-preview {
	box-shadow: 0 5px 15px #3c3c3c;
}

.nav-center {
	position: relative;
}
.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
.nav-toggle {
	font-size: 1.5rem;
	color: var(--clr-primary-5);
	background: transparent;
	border-color: transparent;
	transition: var(--transition);
	cursor: pointer;
}
.nav-toggle:hover {
	color: var(--clr-primary-1);
	transform: rotate(90deg);
}
.logo {
	height: 40px;
}
.links a {
	color: var(--clr-grey-3);
	font-size: 1rem;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	display: block;
	padding: 0.5rem 1rem;
	transition: var(--transition);
}
.links a:hover {
	background: var(--clr-primary-8);
	color: var(--clr-primary-5);
	padding-left: 1.5rem;
}
.social-icons {
	display: none;
}
.links {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}
.show-links {
	height: 10rem;
}

.search-container {
	display: none;
}
@media screen and (min-width: 800px) {
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
	.nav-header {
		padding: 0;
	}
	.nav-toggle {
		display: none;
	}
	.links {
		height: auto;
		display: flex;
	}
	.links a {
		padding: 0;
		margin: 0 0.5rem;
	}
	.links a:hover {
		padding: 0;
		background: transparent;
	}
	.social-icons {
		display: flex;
	}
	.social-icons a {
		margin: 0 0.5rem;
		color: var(--clr-primary-5);
		transition: var(--transition);
	}
	.social-icons a:hover {
		color: var(--clr-primary-7);
	}
	.search-container {
		display: block;
	}
}

.search-container {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	width: 160px;
	height: 55px;
	.search {
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 40px;
		height: 40px;
		background: #49a6e9;
		border-radius: 50%;
		transition: all 1s;
		z-index: 4;
		/* box-shadow: 0 0 25px 0 rgb(0 0 0 / 40%); */
		&:hover {
			cursor: pointer;
		}
		&::before {
			content: "";
			position: absolute;
			margin: auto;
			top: 12px;
			right: 0;
			bottom: 0;
			left: 12px;
			width: 10px;
			height: 2px;
			background: white;
			transform: rotate(45deg);
			transition: all 0.5s;
		}
		&::after {
			content: "";
			position: absolute;
			margin: auto;
			top: -5px;
			right: 0;
			bottom: 0;
			left: -5px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 2px solid white;
			transition: all 0.5s;
		}
	}
	input {
		font-family: "Inconsolata", monospace;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 25px;
		height: 25px;
		outline: none;
		border: none;
		background: #49a6e9;
		color: white;
		text-shadow: 0 0 10px #49a6e9;
		padding: 0 80px 0 20px;
		border-radius: 30px;
		/* box-shadow: 0 0 25px 0 #49a6e9, 0 20px 25px 0 rgb(0 0 0 / 20%); */
		transition: all 1s;
		opacity: 0;
		z-index: 5;
		font-weight: bolder;
		letter-spacing: 0.1em;
		&:hover {
			cursor: pointer;
		}
		&:focus {
			width: 200px;
			opacity: 1;
			cursor: text;
		}
		&:focus ~ .search {
			right: -200px;
			background: #151515;
			z-index: 6;
			&::before {
				top: 0;
				left: 0;
				width: 25px;
			}
			&::after {
				top: 0;
				left: 0;
				width: 25px;
				height: 2px;
				border: none;
				background: white;
				border-radius: 0%;
				transform: rotate(-45deg);
			}
		}
		&::placeholder {
			color: white;
			opacity: 0.5;
			font-weight: bolder;
		}
	}
}
