/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import "./navbar.scss";

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	width: 100vw;
	font-family: var(--ff-secondary);
	background: var(--clr-grey-10);
	color: var(--clr-grey-1);
	line-height: 1.5;
	font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	body {
		font-size: 1rem;
	}
	h1 {
		line-height: 1;
	}
}
/*  global classes */

/* section */
.section {
	padding: 5rem 0;
}

.section-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
}
@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
	}
}
main {
	min-height: 100vh;
	display: grid;
	place-items: center;
}

// Projects Cards

iframe {
	min-width: 100%;
	min-height: 100%;
}

.page-content {
	min-height: 100vh;
	width: 100vw;
	display: grid;
	grid-gap: 3rem;
	padding: 1rem;
	padding-top: 15vh;
	max-width: 1024px;
	margin: 0 auto;
	font-family: var(--font-sans);
	@media (min-width: $bp-lg) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.card {
	height: 500px;
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
		0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.1);

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 110%;
		background-size: cover;
		background-position: 0 0;
		transition: transform calc(var(--d) * 1.5) var(--e);
		pointer-events: none;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200%;
		pointer-events: none;
		background-image: linear-gradient(
			to bottom,
			hsla(0, 0%, 0%, 0) 0%,
			hsla(0, 0%, 0%, 0.009) 11.7%,
			hsla(0, 0%, 0%, 0.034) 22.1%,
			hsla(0, 0%, 0%, 0.072) 31.2%,
			hsla(0, 0%, 0%, 0.123) 39.4%,
			hsla(0, 0%, 0%, 0.182) 46.6%,
			hsla(0, 0%, 0%, 0.249) 53.1%,
			hsla(0, 0%, 0%, 0.32) 58.9%,
			hsla(0, 0%, 0%, 0.394) 64.3%,
			hsla(0, 0%, 0%, 0.468) 69.3%,
			hsla(0, 0%, 0%, 0.54) 74.1%,
			hsla(0, 0%, 0%, 0.607) 78.8%,
			hsla(0, 0%, 0%, 0.668) 83.6%,
			hsla(0, 0%, 0%, 0.721) 88.7%,
			hsla(0, 0%, 0%, 0.762) 94.1%,
			hsla(0, 0%, 0%, 0.79) 100%
		);
		transform: translateY(-50%);
		transition: transform calc(var(--d) * 2) var(--e);
	}
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--d) var(--e);
	z-index: 1;

	> * + * {
		margin-top: 1rem;
	}
}

.project__title {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.2;
}

.copy {
	font-family: var(--font-serif);
	font-size: 1.5rem;
	font-style: italic;
	line-height: 1.35;
}

.btn {
	cursor: pointer;
	margin-top: 1.5rem;
	padding: 0.75rem 1.5rem;
	font-size: 0.75rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	border: none;

	&:hover {
		background-color: lighten(black, 5%);
	}

	&:focus {
		outline: 1px dashed yellow;
		outline-offset: 3px;
	}
}

@media (hover: hover) and (min-width: $bp-lg) {
	.card:after {
		transform: translateY(0);
	}

	.content {
		transform: translateY(calc(100% - 4.5rem));

		> *:not(.project__title) {
			opacity: 0;
			transform: translateY(1rem);
			transition: transform var(--d) var(--e), opacity var(--d) var(--e);
		}
	}

	.card:hover,
	.card:focus-within {
		align-items: center;

		&:before {
			transform: translateY(-4%);
		}
		&:after {
			transform: translateY(-50%);
		}

		.content {
			transform: translateY(0);

			> *:not(.project__title) {
				opacity: 1;
				transform: translateY(0);
				transition-delay: calc(var(--d) / 8);
			}
		}
	}

	.card:focus-within {
		&:before,
		&:after,
		.content,
		.content > *:not(.project__title) {
			transition-duration: 0s;
		}
	}
}
