<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Background Image Slider</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/background-image-slider/styles.css">
	</head>

	<body>
		<div id="grid" class="grid container">
			<a class="btn btn-left" role="button">
				<i class="arrow left"></i>
			</a>
			<a class="btn btn-right" role="button">
				<i class="arrow right"></i>
			</a>
			<span class="credit">Photo by
				<a id="url"></a> on
				<a
					href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
			</span>
		</div>
		<script src="/js/background-image-slider.js" charset="utf-8"></script>
	</body>

</html>
