<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
		<%- include("./partials/head.ejs", {title: "Background Image Slider", css: "bg-img-slider/bg-img-slider"}) %>
	</head>

	<body>
		<div id="grid" class="grid container">
			<a class="btn btn-left" role="button">
				<i class="arrow left"></i>
			</a>
			<a class="btn btn-right" role="button">
				<i class="arrow right"></i>
			</a>
			<span class="credit">Photo by
				<a id="url"></a> on
				<a
					href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
			</span>
		</div>
		<script src="/js/bg-img-slider.min.js" charset="utf-8"></script>
	</body>

</html>