<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include("./partials/head.ejs", {title: "Clock", css: "clock/clock"}) %>
	</head>

	<body>
		<div class="clock">
			<div class="clock-face">
				<div class="hand hour-hand"></div>
				<div class="hand min-hand"></div>
				<div class="hand second-hand"></div>
			</div>
		</div>
		<script src="/js/clock.js"></script>
	</body>

</html>
