<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include("./partials/head.ejs", {title: "JavaScript Projects", css: "style"}) %>
	</head>

	<body>
		<%- include("./partials/navbar.ejs") %>
		<main class="page-content">
			<div class="card">
				<iframe src="/projects/clock" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Clock</h2>
					<p class="copy">A real time clock</p>
					<button onclick="location.href='/projects/clock'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/counter" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Counter</h2>
					<p class="copy">A working counter project</p>
					<button onclick="location.href='/projects/counter'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/bg-img-slider" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Background Image Slider</h2>
					<p class="copy">A Background Image Slider</p>
					<button onclick="location.href='/projects/bg-img-slider'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/menu" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Menu</h2>
					<p class="copy">A Restaurant Menu to choose from.</p>
					<button onclick="location.href='/projects/menu'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/video" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Video</h2>
					<p class="copy">video in the background with start/stop functionality</p>
					<button onclick="location.href='/projects/video'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/reviews" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Reviews</h2>
					<p class="copy">Reviews of the people</p>
					<button onclick="location.href='/projects/reviews'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/drum-kit" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Drum Kit</h2>
					<p class="copy">A Drum Kit to play with keyboard keys</p>
					<button onclick="location.href='/projects/drum-kit'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/pass-the-message" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Pass The Message</h2>
					<p class="copy">A project to pass the message to someone</p>
					<button onclick="location.href='/projects/pass-the-message'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/questions" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Questions</h2>
					<p class="copy">A project containing the faq</p>
					<button onclick="location.href='/projects/questions'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/modal" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Modal</h2>
					<p class="copy">functionality of a modal using JavaScript</p>
					<button onclick="location.href='/projects/modal'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/sidebar" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Sidebar</h2>
					<p class="copy">A sidebar example for a portfolio</p>
					<button onclick="location.href='/projects/sidebar'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/scroll" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Scroll</h2>
					<p class="copy">A scroll example for a portfolio</p>
					<button onclick="location.href='/projects/scroll'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe src="/projects/color-flipper" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Color Flipper</h2>
					<p class="copy">Randomly generate colors in names and hex code</p>
					<button onclick="location.href='/projects/color-flipper'" class="btn">View Project</button>
				</div>
			</div>
		</main>
	</body>

</html>
