<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<%- include("./partials/head.ejs", {title: "JavaScript Projects" , css: "style" }) %>
</head>

<body class="white-preview">
	<%- include("./partials/navbar.ejs") %>
		<main class="page-content">
			<div class="card">
				<iframe title="clock" src="clock"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Clock</h2>
					<p class="copy">A real time clock</p>
					<button onclick="location.href='clock'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="counter" src="counter" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Counter</h2>
					<p class="copy">A working counter project</p>
					<button onclick="location.href='counter'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="background image slider" src="bg-img-slider" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Background Image Slider</h2>
					<p class="copy">A Background Image Slider</p>
					<button onclick="location.href='bg-img-slider'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="menu" src="menu" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Menu</h2>
					<p class="copy">A Restaurant Menu to choose from.</p>
					<button onclick="location.href='menu'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="video" src="video" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Video</h2>
					<p class="copy">video in the background with start/stop functionality</p>
					<button onclick="location.href='video'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="reviews" src="reviews" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Reviews</h2>
					<p class="copy">Reviews of the people</p>
					<button onclick="location.href='reviews'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="drum kit" src="drum-kit" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Drum Kit</h2>
					<p class="copy">A Drum Kit to play with keyboard keys</p>
					<button onclick="location.href='drum-kit'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="pass the message" src="pass-the-message" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Pass The Message</h2>
					<p class="copy">A project to pass the message to someone</p>
					<button onclick="location.href='pass-the-message'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="questions" src="questions" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Questions</h2>
					<p class="copy">A project containing the faq</p>
					<button onclick="location.href='questions'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="modal" src="modal" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Modal</h2>
					<p class="copy">functionality of a modal using JavaScript</p>
					<button onclick="location.href='modal'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="sidebar" src="sidebar" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Sidebar</h2>
					<p class="copy">A sidebar example for a portfolio</p>
					<button onclick="location.href='sidebar'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="scroll" src="scroll" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Scroll</h2>
					<p class="copy">A scroll example for a portfolio</p>
					<button onclick="location.href='scroll'" class="btn">View Project</button>
				</div>
			</div>
			<div class="card">
				<iframe title="color flipper" src="color-flipper" frameborder="0"></iframe>
				<div style="position: absolute;" class="content">
					<h2 class="project__title">Color Flipper</h2>
					<p class="copy">Randomly generate colors in names and hex code</p>
					<button onclick="location.href='color-flipper'" class="btn">View Project</button>
				</div>
			</div>
		</main>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="js/theme-switch.js"></script>
</body>

</html>