<nav>
	<div class="nav-center">
		<h4>color flipper</h4>
		<ul class="nav-links">
			<li><a href="/projects/color-flipper">simple</a></li>
			<li><a href="/projects/hex">hex</a></li>
		</ul>
	</div>
</nav>
