<nav class="white-preview">
	<div class="nav-center">
		<!-- <div class="search-container">
			<input type="text" placeholder="Search...">
			<div class="search"></div>
		</div> -->
		<%- include("./theme-switch.ejs") %>
		<h1 class="title">JavaScript Projects</h1>
		<!-- social media -->
		<ul class="social-icons">
			<li>
				<a href="https://www.twitter.com">
					<i class="fab fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://www.twitter.com">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://www.twitter.com">
					<i class="fab fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/Razeen-Shaikh/javascript-projects">
					<i class="fab fa-github"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>