<!DOCTYPE html>
<html lang="en">

	<head>
		<%- include("../partials/head.ejs", {title: "Color Flipper || Simple", css: "color-flipper/color-flipper"}) %>
	</head>

	<body>
		<%- include("../partials/color-flipper-nav.ejs") %>
		<main>
			<div class="container">
				<h2>background color : <span class="color"></span></h2>
				<button class="btn btn-hero" id="btn">click me</button>
			</div>
		</main>
		<!-- javascript -->
		<script type="text/javascript" src="https://chir.ag/projects/ntc/ntc.js"></script>
		<script src="/js/color-flipper/simple.min.js"></script>
	</body>

</html>